@{
    ViewData["Title"] = "Fifardo";
}

<div class="text-center">
    <h1 class="display-4">E A Sport It's a Game</h1>
    <p>Bienvenidos Perritos Malvados, que empiece el campeonato!bocAAAAAAAAAAAAAAAA </p>
</div>
