@using Fifa.Core;
@model IEnumerable<Habilidad>
@{
    ViewData["Title"] = "Detalle Habilidad";
}
<ul>
    @foreach (var habilidad in Model)
    {
        <th scope="row"><a asp-asp-controller="Habilidad" asp-action="Detalle" asp-route-id="@habilidad.IdHabilidad">@habilidad.Nombre</a></th>
    }
<ul>