@using Fifa.Core;
@model Habilidad
@{
    ViewData["Title"] = "Detalle Habilidad";
}
@foreach (var equipo in Model.Equipos)
{
    <tr>
        <th scope="row"><a asp-controller="Equipo" asp-action="Detalle" asp-route-Id="@equipo.Id">@equipo.Nombre</a></th>
    <tr>
        }