@using Fifa.Core;
@model IEnumerable<Habilidad>;
@{
    ViewData["Title"] = "Habilidad";
}

<ul>
    @foreach (var habilidad in Model)
    {
        <li>
            <a asp-controller="Habilidad" asp-action="Detalle" asp-route-id="@habilidad.IdHabilidad">@habilidad.Nombre</a>
        </li>
    }
</ul>
